Client441/src/main/java/Proxy/.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://example.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://example.org/" name="BanqueWS">
<types>
<xsd:schema>
<xsd:import namespace="http://example.org/" schemaLocation="http://localhost:9191/?xsd=1"/>
</xsd:schema>
</types>
<message name="Convert">
<part name="parameters" element="tns:Convert"/>
</message>
<message name="ConvertResponse">
<part name="parameters" element="tns:ConvertResponse"/>
</message>
<message name="getComte">
<part name="parameters" element="tns:getComte"/>
</message>
<message name="getComteResponse">
<part name="parameters" element="tns:getComteResponse"/>
</message>
<message name="ListComptes">
<part name="parameters" element="tns:ListComptes"/>
</message>
<message name="ListComptesResponse">
<part name="parameters" element="tns:ListComptesResponse"/>
</message>
<portType name="BanqueService">
<operation name="Convert">
<input wsam:Action="http://example.org/BanqueService/ConvertRequest" message="tns:Convert"/>
<output wsam:Action="http://example.org/BanqueService/ConvertResponse" message="tns:ConvertResponse"/>
</operation>
<operation name="getComte">
<input wsam:Action="http://example.org/BanqueService/getComteRequest" message="tns:getComte"/>
<output wsam:Action="http://example.org/BanqueService/getComteResponse" message="tns:getComteResponse"/>
</operation>
<operation name="ListComptes">
<input wsam:Action="http://example.org/BanqueService/ListComptesRequest" message="tns:ListComptes"/>
<output wsam:Action="http://example.org/BanqueService/ListComptesResponse" message="tns:ListComptesResponse"/>
</operation>
</portType>
<binding name="BanqueServicePortBinding" type="tns:BanqueService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Convert">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getComte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListComptes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BanqueWS">
<port name="BanqueServicePort" binding="tns:BanqueServicePortBinding">
<soap:address location="http://localhost:9191/"/>
</port>
</service>
</definitions>